* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-padding: 10px 140px;
  --line-color: #b4b4b4;
  --margin-top: 100px;
  --text-primary-color: rgb(55, 60, 65);
  --text-secondary-color: rgb(77, 82, 94);
}

/*Original Swiper's CSS */

/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background: #000;
  color: #000;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* header */

header {
  padding: 20px 140px;
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header i {
  font-size: 30px;
}
header #sidebar {
  font-size: 20px;
  display: none;
}
header nav {
  display: flex;
  gap: 60px;
  align-items: center;
}
header::before,
header::after,
footer::before,
footer .footer-bottom::before {
  content: "";
  width: 82%;
  height: 1px;
  background-image: radial-gradient(
    rgb(78, 123, 101),
    rgb(131, 203, 168),
    rgb(164, 192, 180),
    rgb(154, 173, 193),
    rgb(102, 150, 202),
    rgb(56, 87, 121)
  );
  position: absolute;
  top: 8px;
}
header::after {
  top: 60px;
}
header nav a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}
header nav a::before {
  content: "";
  width: 1.5px;
  height: 7px;
  background-image: radial-gradient(
    rgb(78, 123, 101),
    rgb(131, 203, 168),
    rgb(164, 192, 180),
    rgb(154, 173, 193),
    rgb(102, 150, 202),
    rgb(56, 87, 121)
  );
  position: absolute;
  bottom: -16px;
  left: 50%;
  opacity: 0;
  transition: all 400ms;
}
header nav a:hover:before,
header nav a:nth-child(6):before {
  opacity: 1;
  height: 15px;
}

/* main */

#main {
  padding: var(--primary-padding);
  position: relative;
  margin-top: var(--margin-top);
  display: flex;
  flex-direction: row;
}

/* Swiper's CSS */

.swiper-slider {
  max-width: 50%;
  height: fit-content;
  position: sticky;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 28px;
  opacity: 0.7;
}

/* change slide size */
.mySwiper2 {
  width: 80%;
  height: 380px;
}

/* change thumbnail size */
.mySwiper {
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  padding: 10px 0;
}
.swiper-wrapper {
  width: fit-content;
}

.mySwiper .swiper-slide {
  width: 200px;
  height: 120px;
  opacity: 0.5;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* info-section */

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  position: relative;
}
.info h2 {
  color: var(--text-primary-color);
  margin-bottom: 10px;
}
.info h2,
.info h3,
.info h4,
.info span h5 {
  font-weight: 400;
}
.info span {
  display: flex;
  gap: 8px;
  align-items: center;
}
.info h3 {
  color: var(--text-secondary-color);
}
.info h3,
.info strike {
  font-size: 20px;
}
.info h4,
.info span {
  margin-top: 10px;
}
.info .btns,
.info .arrival-date .date {
  display: flex;
  gap: 10px;
  align-items: center;
}
.info button {
  border: 1px solid black;
  background-color: transparent;
  outline: 0;
  padding: 8px 15px;
  cursor: pointer;
  transition: all 300ms;
  position: relative;
}
.info button:active {
  scale: 0.9;
}
.info .btns {
  flex-wrap: wrap;
}
.info .btns button:hover::before {
  content: "some";
  background-color: black;
  color: whitesmoke;
  position: absolute;
  height: fit-content;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 5px;
  top: -35px;
  left: calc(100%-25%);
}
.info .btns button:hover,
.info button.active,
.info .add-to-cart {
  background-color: black;
  color: whitesmoke;
}
.info span a {
  color: var(--text-primary-color);
  text-decoration: none;
  border-bottom: 1px solid black;
}
.info span .rating i {
  color: #fcbc4c;
}
.info span h5 {
  font-size: 16px;
}
.info::before {
  content: "";
  background-color: var(--line-color);
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 390px;
}
.info .replace {
  background-color: #f1f1f1;
  color: #757575;
  padding: 15px 18px;
  margin-top: 40px;
}
.info span .arrow {
  rotate: 90deg;
  margin-right: 7px;
  margin-top: 3px;
}
.info .add-to-cart {
  letter-spacing: 3px;
  font-size: 16px;
  padding: 11px 17px;
  margin-top: 25px;
  width: 100%;
}
.info span p {
  letter-spacing: 1.5px;
}
.info span.wishlist {
  width: 100%;
  justify-content: center;
}
.info .arrival-date {
  margin-top: 15px;
}
.info .arrival-date .date {
  margin-left: 25px;
}
.info .arrival-date .date h4 {
  margin-top: 7px;
}
.info .arrival-date .icons {
  display: flex;
  gap: 200px;
  margin-top: 25px;
}
.info .arrival-date .icons .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.info .arrival-date .icons .icon i {
  background-color: black;
  color: whitesmoke;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
.info .arrival-date .icons #icon {
  position: relative;
}
.info .arrival-date .icons #icon::before {
  content: "";
  background-color: black;
  height: 1px;
  width: 210px;
  position: absolute;
  left: 89%;
  top: 20%;
}

/* footer */

footer {
  margin-top: var(--margin-top);
  margin-bottom: 40px;
  padding: var(--primary-padding);
  position: relative;
}
footer::before {
  top: 12px;
}
.footer-top {
  display: flex;
  justify-content: center;
}
footer .footer-top .btn {
  position: absolute;
  top: 0;
  padding: 5px 12px;
  border: 2px solid rgb(233, 233, 233);
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 12px;
}
footer .footer-top .btn i {
  font-size: 13px;
}
footer .footer-top .btn a {
  font-size: 12px;
  text-decoration: none;
  color: var(--text-primary-color);
}
footer .footer-center {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}
footer .footer-center h4 {
  margin-bottom: 20px;
  font-size: 18px;
}
footer .footer-center ul {
  list-style: none;
}
footer .footer-center ul li {
  margin-top: 10px;
}
footer .footer-center ul li a {
  text-decoration: none;
  color: var(--text-secondary-color);
}
footer .footer-bottom {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  padding: 40px 0px 10px;
}
footer .footer-bottom::before {
  width: 100%;
  top: 12px;
}
footer .footer-bottom p {
  color: var(--text-secondary-color);
}
footer .footer-bottom .socials {
  display: flex;
  gap: 20px;
}
footer .footer-bottom .socials i {
  font-size: 18px;
  cursor: pointer;
}
footer .footer-bottom .socials i:nth-child(1) {
  color: rgb(36, 222, 105);
}
footer .footer-bottom .socials i:nth-child(2) {
  color: rgb(59, 89, 152);
}
footer .footer-bottom .socials i:nth-child(3) {
  color: rgb(225, 48, 108);
}
footer .footer-bottom .socials i:nth-child(4) {
  color: rgb(0, 119, 181);
}
footer .footer-bottom .socials i:nth-child(5) {
  color: rgb(203, 32, 39);
}
footer .footer-bottom .socials i:nth-child(6) {
  color: black;
}
